#note_show {
	.title {
		@include bold_font;
		font-size: 2.5rem;
		margin-bottom: 1.25rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid #E9E9E9;
	}
	p {
		font-size: 1.375rem;
		line-height: 1.75;
	}
	.buttons {
		margin-top: 3rem;
		a.button {
			padding: .5rem 2rem;
			border-radius: 2rem;
			text-decoration: none;
			color: $green;
			border: 5px solid #E9E9E9;
			@include bold_font;
			background: transparent;
		}
	}
}
